* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #4fbdba;
  color: white;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}

.home__form {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__form h1 {
  margin-bottom: 20px;
  font-style: italic;
}

label {
  font-size: 20px;
}

input {
  margin-top: 18px;
  padding: 5px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  text-align: center;
}

button {
  font-size: 20px;
  border: 1px solid white;
  padding: 7px 25px;
  margin: 15px 0;
  cursor: pointer;
  border-radius: 3px;
  background-color: #5a20cb;
}

.home__data {
  position: relative;
  bottom: 60px;
}

.data__country {
  display: inline-block;
  background-color: rgb(33, 56, 131);
  border: 1px solid rgb(70, 199, 238);
  padding: 10px 20px;
  margin: 5px;
}

.data__probability {
  display: inline-block;
  background-color: rgb(190, 81, 158);
  border: 1px solid rgb(115, 87, 218);
  padding: 10px 20px;
  margin: 5px;
}
